@{
    ViewBag.Title = "O nama";
}

@Html.SectionTitle("Ko smo mi")

<p>Akademija Savremene Tehnologije razvija programe koji spajaju teoriju i praksu. Nastava obuhvata rad u laboratorijama, projektne zadatke i kontinuiranu mentorsku podrsku.</p>

<div class="highlight">
    <div class="highlight-title">Misija</div>
    <div class="highlight-text">Priprema studenata za konkretne pozicije u IT industriji kroz rad na realnim zadacima.</div>
</div>
